<!DOCTYPE html>
<html>
  <head>
    <title>Under Construction</title>
  </head>
  <body>
    <h1>Under Construction</h1>
    <p><%= message %></p>
    <form action="/" method="GET"> <!-- Replace "/" with the correct URL to unlock the site -->
      <input type="text" name="unlock" placeholder="Enter unlock password">
      <button type="submit">Unlock</button>
    </form>
  </body>
</html>
